.godot/
bin/
!bin/windows/libspine_godot.windows.editor.x86_64.dll
!bin/windows/libspine_godot.windows.template_debug.x86_64.dll
!bin/windows/libspine_godot.windows.template_release.x86_64.dll
!bin/spine_godot_extension.gdextension
!bin/spine_godot_extension.gdextension.uid
/android/
.git/
.idea/
.vs/
publish/
Properties/
packages/
.editorconfig
*.user
__pycache__
loc_editor_settings.json
